.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12%;
  position: relative;
  z-index: 10;


}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1100;
  box-shadow: #0000001a 0px 10px 15px -6px, #0000000d 0px 4px 6px -2px;

  div>ul {
    margin: 0;
  }

  div>ul>a>li {
    color: black
  }
}