.header {
  box-sizing:border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  padding: 1rem 0;
  position: relative;
  z-index:10;

  .ilnlogo {
    width: 30rem;
    position: relative;
  }

  .logo {
    width: 12rem;
  }

  .logo_square {
    position: absolute;
    height: .4rem;
    width: .4rem;
    background-color: #7CBD1E;
    top: .8rem;
    left: .62rem;
    animation: logoGlow 3s linear 2s infinite;
  }

  @keyframes logoGlow {
    0% {
      background-color: #7CBD1E;
    }

    25% {
      background-color: #aa1768;
    }

    50% {
      background-color: #a39a18;
    }

    100% {
      background-color: #7CBD1E;
    }
  }
}