.header {
  box-sizing:border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12%;
  position: relative;
  z-index:10;

  
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1100;

  div>ul{
    margin: 0;
  }
  div>ul>a>li{
    color:black
  }
}