@import 'style/variables.module.scss';

.footer {
  min-height: 15rem;
  background-color: rgb(255, 255, 255);
  padding: 6rem 3rem;
  margin: 0 10%;
  display:flex;
  justify-content: space-between;

  &-icon{
    font-size: 2rem;
    margin-right:2rem;
    color:$purple;
  }
}