.hero{
  margin-top:-90px;
  height: 80vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  background-color:white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;

  .particles{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  &_content{
    display: flex;
    margin: 6rem 10% 0;
    width: 100%;

    &-left{
      width: 50%;

      &_subtitle{
        margin-top:2rem;
        margin-bottom: 3rem;
        font-weight: 200;
        padding-right: 8rem;
      }
    }

    &-right{
      display: flex;
      align-items:center;
      justify-content: center;
      width:50%;

      img{
        width: 80%;
      }
    }
  }
}