@import 'style/variables.module.scss';

.hero-wrap{
  position: relative;

  .scroll-down{
    font-size: 2.5rem;
    display:flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%,0);
    z-index: 1000;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 20px rgb(216, 216, 216);
    color:$purple;
  }
}

.hero {
  position: relative;
  z-index: 9;
  margin-top: -130px;
  height: 95vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 50rem;
  }

  .svg-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .svg-plant-1{
    animation: plantmove1 15s cubic-bezier(.36,.07,.19,.97) infinite;
    transform-origin: center;
  }

  @keyframes plantmove1 {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-1deg);
    }
    20% {
      transform: rotate(1deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(1deg);
    }
    60% {
      transform: rotate(-1deg);
    }
    70% {
      transform: rotate(1deg);
    }
    80% {
      transform: rotate(1deg);
    }
    90% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(1deg);
    }
  }
 

  .hand {
    fill: red;
    transform: translateY(0);
    animation: handmove 1.5s ease-in-out infinite;
  }

  @keyframes handmove {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .particles {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  &-backround{
    position: absolute;
    top:0;
    right:0;
    background: linear-gradient(225deg,#00dcc0 0,#3a86ff  75%);
    height: 60%;
    width: 70%;
    z-index: -1;
    border-bottom-left-radius:100px ;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 3em),6.25em 100%,0 100%);

  }

  &_content {
    display: flex;
    margin: 6rem 10% 0;
    width: 100%;

    &-left {
      display: flex;
      flex-direction: column;
      justify-content:center;
      padding: 0rem 0rem 0 3rem;
      width: 50%;
      .subtitle {
        padding-right: 8rem;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      img {
        width: 80%;
      }
    }
  }
}