.hero-wrap{
  position: relative;
}

.hero {
  position: relative;
  z-index: 9;
  margin-top: -90px;
  height: 90vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 90%;
  }

  .svg-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .svg-plant-1{
    animation: plantmove1 15s cubic-bezier(.36,.07,.19,.97) infinite;
    transform-origin: center;
  }

  @keyframes plantmove1 {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-1deg);
    }
    20% {
      transform: rotate(1deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(1deg);
    }
    60% {
      transform: rotate(-1deg);
    }
    70% {
      transform: rotate(1deg);
    }
    80% {
      transform: rotate(1deg);
    }
    90% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(1deg);
    }
  }
 

  .hand {
    fill: red;
    transform: translateY(0);
    animation: handmove 1.5s ease-in-out infinite;
  }

  @keyframes handmove {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .particles {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  &_content {
    display: flex;
    margin: 6rem 10% 0;
    width: 100%;

    &-left {
      width: 50%;
      .subtitle {
        padding-right: 8rem;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;

      img {
        width: 80%;
      }
    }
  }
}