@import 'style/variables.module.scss';
.skills {
 overflow: hidden;
  min-height: 30rem;
  background-color: $purple;
  padding: 14rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -8rem;

  &-icons {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &-side-effect{
    width: 45rem;
    height: 45rem;
    position: absolute;
    top: 0;
    right:-20rem;
    transform: rotate(45deg);
    clip-path: polygon(48% 0, 0% 100%, 17% 100%, 49% 26%, 46% 21%, 76% 86%, 10% 86%, 12% 100%, 100% 100%, 48% 0);
    background: linear-gradient(225deg,#00dcc0 0,#3a86ff  75%);
  }

  &-icons-wrap{
    position: relative;
  }

  &-icons{
    position: relative;
    z-index: 2;
  }

  &-icon {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

    .icon-image {
      font-size: 3.5rem;
      color: white;
    }

   

    p {
      color: white;
    }
  }

  .icon-animation{
    animation: up .7s cubic-bezier(0.45, 0.25, 0.60, 0.95) .5s forwards;
  }

  @keyframes up {
    from {
      transform: translateY(3rem) scale(0);
      opacity: 0;
    }

    to {
      transform: translateY(0rem) scale(1);
      opacity: .9;
    }
  }
}