.ilnlogo {
  width: 20rem;
  position: relative;
  cursor: pointer;
}

.logo {
  width: 12rem;
}

.logo_square {
  position: absolute;
  height: .4rem;
  width: .4rem;
  background-color: #ff006e;
  top: .8rem;
  left: .62rem;
  animation: logoGlow 3s linear 2s infinite;
}

@keyframes logoGlow {
  0% {
    background-color: #ff006e;
  }

  25% {
    background-color: #fcff3ad7;
  }

  50% {
    background-color: #00dcc0;
  }

  100% {
    background-color: #ff006e;
  }
}