.porfolio-page {
  min-height: 150vh;
  padding: 0 12%;

  &_item {
    margin-top: 15rem;
    display: flex;

    &-left,  &-right{
     
     
      display: flex;
    }

    &-left{
      justify-content: flex-end;
      width: 60%;
      img{
        width: 100%;
        height: auto;
      }
    }

    &-right {
      width: 40%;
      margin-left: 3rem;
      justify-content: flex-start;
      flex-direction: column;

      h2{
        margin: 0;
      }

      p{
        font-size: .9rem;
        margin-bottom: 2rem;
      }
    }

  }
}