.portfolio-page {
  min-height: 150vh;

  &-hero {
    padding: 0 12%;
  }

  &_item:nth-child(even) {

    flex-direction: row-reverse;
    background-color: #35434a11;

    &-left {
      justify-content: flex-start;
    }

  }

  &_item:first-child {

    padding-top: 15rem;
  }

  &_item {
    padding: 7rem 12%;

    display: flex;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;

    &-left,
    &-right {
      width: 50%;
      display: flex;
    }

    &-left {
      justify-content: flex-end;
      background-repeat: no-repeat;
      position: relative;

      &_backround {
        width: 100%;
        max-width: 37rem;
      }
    }

    &-right {
      margin-left: 3rem;
      margin-right: 3rem;
      justify-content: flex-start;
      flex-direction: column;
 

      h1 {
        font-size: 2.5rem;
        margin: 0;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        color:grey;
      }
    }

  }
}

.desctop,
.mobile {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
}

.desctop {
  width: 85%;
  top: 50%;
  left: 10%;
  max-width: 25rem;
}

.mobile {
  top: 20%;
  left: 60%;
  width: 40%;
  max-width: 12rem;
}