.porfolio-page {
  min-height: 150vh;
  padding: 0 12%;

  &_item {
    padding-top: 15rem;
    display: flex;
    background-image:url("https://res.cloudinary.com/ilnphotography/image/upload/v1603459424/ilnweb/dev_kyj8jl.png");
    background-size:65%;
    background-repeat:no-repeat;
    background-position:center;

    &-left,  &-right{
      width: 50%;
      display: flex;
    }

    &-left{
      justify-content: flex-end;
      // background-image: url("https://res.cloudinary.com/ilnphotography/image/upload/v1602862319/ilnweb/Qizify-back2_k2pjfp.png");
      background-size:contain;
      background-repeat: no-repeat;
      position: relative;
    }

    &-right {
      margin-left: 3rem;
      margin-right: 3rem;
      justify-content: flex-start;
      flex-direction: column;

      h2{
        margin: 0;
      }

      p{
        font-size: .9rem;
        margin-bottom: 2rem;
      }
    }

  }
}

.desctop, .mobile{
 
  position: absolute;
  z-index: 10;
  
  border-radius: 5px;
}

.desctop{
  width: 20rem;
  top:50%;
  left:10%;
}

.mobile{
  top:20%;
  left:60%;
  width: 10rem;
}