@import 'style/variables.module.scss';

html, body{
  margin:0;
  padding:0;
 scroll-behavior: smooth;
  
}

//variables 


body{
  width:100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Exo 2', sans-serif;
  font-size:1.1rem;
}

h1{
  font-size: 3.5rem;
  margin: 0;
  font-weight: 700;
}

button{
  width: 15rem;
  padding:1.2rem 3rem;
  border-radius: 100px;
  
  border: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
}

.orange{
  fill:$orange!important;
}

.purple{
  fill:#35434a!important;
}

.blue{
  fill:$blue!important;
}

.green{
  fill:$green!important;
  opacity:1;
}

.pink{
  fill:$pink!important;
  opacity:1;
}

.yeallow{
  fill:$yeallow!important;
  opacity:1;
}

.grey{
  fill:#455a64!important;
  opacity:1;
}

p{
  font-size: 1.2rem;
  font-weight: 400;
}

.color-white{
  color:white;
}

.button-primary{
  background-color:$pink;
  color:white;
}

.button-secondary{
  padding:.7rem 2rem;
  background-color:transparent;
  border:1.5px solid rgb(255, 0, 170)
}

.subtitle {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-weight: 200;
}

.content{
  width: 100%;
  box-sizing:border-box;
}