html, body{
  margin:0;
  padding:0;
 
  
}

body{
  width:100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Heebo', sans-serif;
  line-height: 1.2;
}

h1{
  font-size: 3.2rem;
  margin: 0;
  font-weight: 500;
}