.portfolio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10rem;
  padding: 14rem;
  margin-top: -6rem;
  background-color: rgb(245, 245, 245);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

  &-title {}

  &-content{
    position: relative;
    margin: 4rem 10% 0;
    width: 25rem;
    height: 25rem;
  }

  &_backround {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 25rem;
    background: radial-gradient(circle, rgba(167, 43, 132, 0.959) 0%, rgba(245, 66, 194, 0.67) 70%, rgba(245, 245, 245, 0) 90%, rgba(245, 245, 245, 0) 100%);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 600px rgba(245, 66, 194, 0.911), 0 0 600px rgba(245, 66, 194, 0.911);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    filter: blur(4px);

  }

  &_circle-1,
  &_circle-2,
  &_circle-3{
    border:1px solid rgba(255, 255, 255, 0.63);
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  &_circle-2{
    
    width: 20rem;
    height: 20rem;
  }

  &_circle-3{
    width: 15rem;
    height: 15rem;
  }
}